@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Orbitron", sans-serif;
	/*text-shadow: 2px 2px 4px rgba(0,0,0,0.2);*/
	font-weight: 300;
	letter-spacing: 1.5px;
}

html {
	scroll-behavior: smooth;
}

button {
	background: initial;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: initial;
}

ul {
	list-style: none;
}

input,
textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #ff7f50;
	min-height: 30px;
	font-size: 14px;
	color: #ff7f50;
}

body {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: stretch;
	justify-content: start;
}

.container {
	padding: 10px 20px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgba(255, 127, 80, 0.4);
	backdrop-filter: blur(3px) saturate(120%);
}

h1 {
	margin-left: 20px;
	color: #ff7f50;
}


.space {
	width: 30px;
}

.logo {
	color: #ff7f50;
	font-size: 22px;
}

.burger {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-self: flex-end;
	z-index: 3;
}

.burLine1,
.burLine2,
.burLine3 {
	width: 30px;
	height: 2px;
	border-radius: 1px;
	border: 1px solid #ff7f50;
	transition: transform 1s ease, opacity 0.7s ease;
	will-change: transform, opacity;
}

.burger.active .burLine1 {
	transform: rotate(45deg) translate(7px, 7px);
}

.burger.active .burLine2 {
	opacity: 0
}

.burger.active .burLine3 {
	transform: rotate(-45deg) translate(7px, -7px);
}

#burgerMenu {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	top: 0;
	left: 0;
	padding: 90px 20px;
	pointer-events: none;
	background: rgba(30, 30, 30, 0.5);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(17px) saturate(120%);

	opacity: 0;
	transform: translateX(100%);
	will-change: transform opacity;
	transition: transform 0.7s ease, opacity 1s ease;
	z-index: 8888;
}

#burgerMenu.visible {
	opacity: 1;
	transform: translateX(0);
	pointer-events: auto;
}

#burgerMenu a {
	font-size: 22px;
	color: #ff7f50;
}

.burger-menu ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.burger-menu ul li a {
	text-decoration: underline;
}

.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -2;
}

.video-bg video {
	width: 120%;
	height: 100%;
	z-index: -2;
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	will-change: transform;
	backface-visibility: hidden;
}

.video-bg::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
	pointer-events: none;
}

.bg {
	position: fixed;
	top: 30px;
	left: 0;
	width: 170vw;
	height: 200vh;
	object-fit: cover;
	pointer-events: none;
	z-index: -3;
}

.content {
	margin-top: 15px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 40px;
}

.hero-content {
	height: 80vh;
	width: 100%;
	color: #ff7f50;
	padding-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.btn {
	padding: 5px 50px;
	border: 2px solid #ff7f50;
	border-radius: 35px;
	font-size: 20px;
	color: #ff7f50;
	
	background: rgba(30, 30, 30, 0.2);
	backdrop-filter: blur(10px) saturate(180%) brightness(2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.info {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin-top: 0;
	padding: 10px 20px;
	color: #ff7f50;

	border-radius: 20px;
	backdrop-filter: blur(5px) saturate(120%);
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
}

.products {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.products::before {
	content: "";
	position: absolute;
	top: -57px;
	left: 0;
	right: 0;
	height: 20%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.02));
	pointer-events: none;
}

.title {
	position: sticky;
	top: 65px;
	z-index: 2;
}

.prods {
	position: sticky;
	top: 80px;
	height: auto;
	width: 100vw;

	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	overflow: hidden;
	transition: transform 1s ease;
	will-change: transform;
}

.blocks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.block {
	width: 75%;

	padding: 35px 20px;
	border-radius: 20px;
	backdrop-filter: blur(5px) saturate(120%);
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	color: #ff7f50;
	
	transform: translateX(100%);
	opacity: 0;
	will-change: transform, opacity;
	transition: transform 1.2s ease, opacity 1s ease;
}

.blBtn { 
	transform: translateX(100%);
	opacity: 0;
	will-change: transform, opacity;
	transition: transform 1.2s ease, opacity 1s ease;
	margin-bottom: 10px;
}

.show {
	opacity: 1;
	transform: translateX(0);
}
.blocks.show .block .btn {
	backdrop-filter: blur(7px) saturate(420%) brightness(6);
}

.block img {
	border-radius: 10px;
	border: 1px solid #ff7f50;
}

.about-us {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 300vh;
}

.about-us p {
	margin-top: 10px;
}

.about {
	margin-top: 200px;
	transition: transform 1s ease-out;
	will-change: transform;
	z-index: 2;
}

.carousel {
	display: flex;
	gap: 30px;
	padding: 20px 0;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.officeImg {
	width: 100%;
	border-radius: 20px;
	/*box-shadow: 2px 5px 10px black;*/
	scroll-snap-align: start;
}

.team {
	scroll-snap-align: center;
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-right: 0;
}

.team h3 {
	text-align: center;
}

.faceImg {
	width: 50%;
	border-radius: 20px;
	aspect-ratio: 3/4;
	object-fit: cover;
	justify-felf: center;
	align-self: center;
}

.sticky-about {
	position: sticky;
	top: 105px;
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contacts-content {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.contact-info {
	position: sticky;
	top: 105px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.contact {
	margin-top: 200px;
	z-index: 2;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: 10px;
}

.footer {
	background: rgba(10, 10, 10, 0.4);
	color: #ff7f50;
	padding: 50px 0 20px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(7px) saturate(220%);
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.footer .logo {
	font-size: 1.8rem;
	font-weight: 600;
	color: #ff7f50;
	text-decoration: none;
}

.footer-nav ul {
	list-style: none;
	display: flex;
	align-items: start;
	gap: 20px;
}

.footer-nav a {
	color: #ff7f50;
	transition: color 0.3s;
}

.footer-nav a:hover {
	color: #00aaff;
}

.socials {
	display: flex;
	gap: 15px;
	align-self: center;
}

.socials img {
	width: 24px;
	height: 24px;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.socials img:hover {
	opacity: 1;
}

.footer-bottom {
	margin-top: 30px;
	font-size: 0.9rem;
	color: #ee8761;
}